---
layout: default
make-smaller-titles: true
---

<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>
            <p></br>我是一个活跃的开源参与者和代码托管平台开发者，工作中主要使用 C++/Golang 开发服务器软件和版本控制工具，兴趣爱好喜欢读书，刷剧以及爬山，工作和技能的简介可以在： <a href="/about/">About</a> 页面找到。</p>
            <p>业内有一些优秀的朋友，他们也是非常不错的：<a href="/links/">友情链接</a></p>
            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Blog Articles</h2>

              <ul>
                {% for post in site.posts limit: site.post_limit %}
                  {% unless post.pubdraft %}
                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>
                  {% endunless %}
                {% endfor %}

                  <li>

                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ site.baseurl }}/js/timeline.js" type="text/javascript"></script>

